* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../img/fond-plage.gif");
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.logo {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 1.5rem;
  color: #343a40;
}

header p {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 2rem;
}

.hero-form h2 {
  font-size: 1.2rem;
  color: #343a40;
  margin-bottom: 1rem;
}

.hero-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #495057;
}

.hero-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.hero-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.hero-form button:hover {
  background-color: #0056b3;
}

.existing-heroes {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.existing-heroes:hover {
  background-color: #0056b3;
}

.container-choice {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.hero-selection {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-selection input {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  font-size: x-large;
  background-color: #007bff;
  border: none;
  color: #f8f9fa;
}

.hero-selection input:hover {
  background-color: #0056b3;
}

.hero-selection h2 {
  margin-left: 20px;
}

.fight-body {
  font-family: Arial, sans-serif;
  background-image: url("../img/fond-ruine.gif");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.monster-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 200px;
  align-items: center;
  animation: animateChar 1s infinite;
}

.monster-container h2 {
  padding-left: 180px;
  color: white;
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 100px;
  align-items: center;
  animation: animateChar 1s infinite;
}

.hero-container h2 {
  padding-left: 180px;
  color: white;
}

.hero {
  width: 500px;
}

@keyframes animateChar {
  from {
    bottom: 0;
  }
  to {
    bottom: 2px;
  }
}

.hero-containerHit {
  filter: blur(5px) hue-rotate(90deg);
}
.monster-containerHit {
  filter: blur(5px) hue-rotate(90deg);
}


#knight {
  width: 500px;
}

#elfe{
  width: 500px;
}
#nain{
  width: 500px;
}

.container-choice button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

button img {
  width: 150px; /* Exemple de taille */
  height: auto;
}
